.well.sidebar-nav
  %h3 Public Repositories
  %ul.repositories
    - @latest_repositories.each do |repository|
      %li{class: cycle("odd", "even")}
        = link_to repository.name, user_repo_path(owner_name: repository.owner_name, repository_name: repository.name), class: 'current'
        - if repository.builds_count > 0
          = link_to "##{repository.builds.last.position}", user_repo_build_path(owner_name: repository.owner_name, repository_name: repository.name, id: repository.builds.last.id), class: 'build'
          %div
            %span Duration:
            %span #{repository.builds.last.duration} secs
            ,
            %span Finished:
            %span
              %abbr.timeago{title: repository.last_build_at.getutc.iso8601}=repository.last_build_at.to_s
