%p Dear,
%br/
%p We are appreciated that you are using rails-brakeman.com, but we notice that your repository #{@repository.github_name} is a private repository on github, so we can't check out and analyze your source codes.
%p There is one way for you to use rails-brakeman.com for your private repository:
%ol
  %li
    = link_to "fork rails-brakeman.com on github", "https://github.com/flyerhzm/rails-brakeman.com"
    , then setup the service on your own server
%p
  If you have any questions, feel free to
  = link_to "contact us", "mailto:contact-us@rails-brakeman.com"
%br/
%p
  Sincerely,
  %br/
  Rails Brakeman Team
