default: &default
  adapter: postgresql
  host: localhost
  port: 5432
  username: postgres
  password:
  encoding: utf8

development:
  <<: *default
  database: rails_brakeman_com_development

test:
  <<: *default
  database: rails_brakeman_com_test
