mysql: &mysql
  adapter: mysql2
  host: localhost
  port: 3306
  username: root
  password:
  encoding: utf8

development:
  <<: *mysql
  database: rails_brakeman_com_development

test:
  <<: *mysql
  database: rails_brakeman_com_test
